:host,
.sl-theme-dark {
    font-family: var(--sl-font-mono);
}
sl-tab-panel {
    padding:10px;
}
.card-header [slot='header'] {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
}
.project {
    padding: 10px;
    width: 400px;
    min-width: 300px;
    max-width: 45%;
}