<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{{ config.title }}{% endblock title %}</title>
<meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">

<link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ get_url(path='rss.xml') }}">

<link href="https://fonts.cdnfonts.com/css/fixedsys-62" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>
<body>


<div id="container">
  <nav id="navbar">
  <a href="{{ get_url(path='@/_index.md') }}" style="color: var(--cyan);">aplerdal</a> |
  <a href="{{ get_url(path='@/posts/_index.md') }}" style="color: var(--magenta);">posts</a> |
  <a href="{{ get_url(path='rss.xml') }}" style="color: var(--yellow);">rss</a>
</nav>
<hr>
{% block content %}{% endblock content %}
</div>

</body>
</html>
